* {
  box-sizing: border-box;
}

html {
  --outline-color: rgb(5, 116, 243);
  --outline-dark-color: rgb(4, 80, 167);
  --outline-style: 2px 2px 0.2rem var(--outline-color),
    -2px -2px 0.2rem var(--outline-color);
  --border-color: #888;
  --page-bg-color: #333;
  --heading-color: #aaa;

  /* Over Under Line  */
  --overunder-over-text-color: var(--outline-color);
  --overunder-divider-color: grey;
  --overunder-under-text-color: rgb(33, 163, 7);
}

a {
  color: var(--outline-color);
}

a:visited {
  color: var(--outline-dark-color);
}
