html {
  /* primary */
  --primary-color: #ccc;
  --primary-bg-color: var(--primary-color);
  --primary-border-color: #aaa;
  --primary-bg-active-color: #ddd;
  --primary-bg-muted-color: #aaa;
  --primary-text-color: var(--primary-color);
  --primary-text-muted-color: #888;
  --primary-input-text-color: black;
  --primary-input-bg-color: #ddd;
  --primary-input-border-color: #888;
  --primary-input-placeholder-color: #888;

  /* warning */
  --warning-color: rgb(243, 132, 6);
  --warning-bg-color: var(--warning-color);
  --warning-bg-border-color: rgb(165, 82, 4);
  --warning-bg-active-color: rgb(165, 82, 4);
  --warning-bg-muted-color: rgb(165, 82, 4);
  --warning-text-color: var(--warning-color);
  --warning-text-muted-color: #888;

  /* success */
  --success-color: rgb(33, 163, 7);
  --success-bg-color: var(--success-color);
  --success-bg-border-color: rgb(3, 117, 8);
  --success-bg-active-color: rgb(3, 117, 8);
  --success-bg-muted-color: rgb(3, 117, 8);
  --success-text-color: var(--success-color);
  --success-text-muted-color: #888;

  /* danger */
  --danger-color: rgb(163, 7, 7);
  --danger-bg-color: var(--danger-color);
  --danger-bg-border-color: rgb(136, 7, 7);
  --danger-bg-active-color: rgb(136, 7, 7);
  --danger-bg-muted-color: rgb(102, 3, 3);
  --danger-text-color: var(--danger-color);
  --danger-text-muted-color: #888;

  /* transparent */
  --transparent-color: #444;
  --transparent-bg-color: var(--transparent-color);
  --transparent-border-color: rgb(77, 77, 77);
  --transparent-bg-active-color: rgb(97, 93, 93);
  --transparent-bg-muted-color: rgb(102, 102, 102);
  --transparent-text-color: var(--transparent-color);
  --transparent-text-muted-color: #888;
  --transparent-input-text-color: white;
  --transparent-input-bg-color: #444;
  --transparent-input-border-color: #888;
  --transparent-input-placeholder-color: #888;
}

.Theme-primary {
  --text-color: var(--primary-bg-color);
  --button-bg-color: var(--primary-bg-color);
  --button-border-color: var(--primary-border-color);
  --button-text-color: black;
  --button-bg-hover-color: var(--primary-bg-color);
  --button-bg-active-color: var(--primary-bg-active-color);
  --button-bg-disabled-color: var(--primary-bg-active-color);
  --button-text-muted-color: var(--primary-text-muted-color);
  --button-text-disabled-color: var(--primary-text-muted-color);
  --input-text-color: var(--primary-input-text-color);
  --input-bg-color: var(--primary-input-bg-color);
  --input-border-color: var(--primary-input-border-color);
  --input-placeholder-color: var(--primary-input-placeholder-color);
  --table-highlight-color: var(--primary-color);
  --table-hover-border-color: var(--primary-color);
}

.Theme-warning {
  --text-color: var(--warning-bg-color);
  --button-bg-color: var(--warning-bg-color);
  --button-border-color: var(--warning-border-color);
  --button-text-color: white;
  --button-bg-hover-color: var(--warning-bg-color);
  --button-bg-active-color: var(--warning-bg-active-color);
  --button-bg-disabled-color: var(--warning-bg-active-color);
  --button-text-muted-color: var(--warning-text-muted-color);
  --button-text-disabled-color: var(--warning-text-muted-color);
  --table-highlight-color: var(--warning-color);
  --table-hover-border-color: var(--warning-color);
}

.Theme-success {
  --text-color: var(--success-bg-color);
  --button-bg-color: var(--success-bg-color);
  --button-border-color: var(--success-border-color);
  --button-text-color: white;
  --button-bg-hover-color: var(--success-bg-color);
  --button-bg-active-color: var(--success-bg-active-color);
  --button-bg-disabled-color: var(--success-bg-active-color);
  --button-text-muted-color: var(--success-text-muted-color);
  --button-text-disabled-color: var(--success-text-muted-color);
  --table-highlight-color: var(--success-color);
  --table-hover-border-color: var(--success-color);
}

.Theme-danger {
  --text-color: var(--danger-bg-color);
  --button-bg-color: var(--danger-bg-color);
  --button-border-color: var(--danger-border-color);
  --button-text-color: white;
  --button-bg-hover-color: var(--danger-bg-color);
  --button-bg-active-color: var(--danger-bg-active-color);
  --button-bg-disabled-color: var(--danger-bg-active-color);
  --button-text-muted-color: var(--danger-text-muted-color);
  --button-text-disabled-color: var(--danger-text-muted-color);
  --table-highlight-color: var(--danger-color);
  --table-hover-border-color: var(--danger-color);
}

.Theme-transparent {
  --text-color: var(--transparent-bg-color);
  --button-bg-color: var(--transparent-bg-color);
  --button-border-color: var(--transparent-border-color);
  --button-text-color: white;
  --button-bg-hover-color: var(--transparent-bg-color);
  --button-bg-active-color: var(--transparent-bg-active-color);
  --button-bg-disabled-color: var(--transparent-bg-active-color);
  --button-text-muted-color: var(--transparent-text-muted-color);
  --button-text-disabled-color: var(--transparent-text-muted-color);
  --input-text-color: var(--transparent-input-text-color);
  --input-bg-color: var(--transparent-input-bg-color);
  --input-border-color: var(--transparent-input-border-color);
  --input-placeholder-color: var(--transparent-input-placeholder-color);
  --table-highlight-color: var(--transparent-clor);
  --table-hover-border-color: var(--transparent-color);
}
